* {

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:Arial;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:

linear-gradient(
135deg,
#0f0c29,
#302b63,
#24243e
);

position:relative;

}

/* Background singer images */

body::before{

content:"";

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:

url("images/arijit.png") 5% 15%/180px no-repeat,

url("images/taylor.png") 92% 15%/170px no-repeat,

url("images/ed.png") 8% 82%/170px no-repeat,

url("images/shreya.png") 92% 80%/180px no-repeat;

opacity:.18;

filter:

blur(1px);

z-index:0;

}

.box{

position:relative;

z-index:2;

width:760px;

padding:35px;

border-radius:30px;

background:

rgba(
255,
255,
255,
0.08
);

-webkit-backdrop-filter:

blur(25px);

backdrop-filter:

blur(25px);

color:white;

text-align:center;

box-shadow:

0 15px 40px
rgba(
0,
0,
0,
0.5
);

}

h1{

font-size:52px;

margin-bottom:20px;

}

input{

width:70%;

padding:16px;

border:none;

border-radius:15px;

outline:none;

font-size:18px;

}

button{

padding:16px 28px;

border:none;

border-radius:15px;

background:

linear-gradient(
45deg,
#ff4d6d,
#8f94fb
);

color:white;

cursor:pointer;

margin-left:10px;

}

.card{

margin-top:25px;

padding:20px;

border-radius:20px;

background:

rgba(
255,
255,
255,
0.1
);

}

img{

width:240px;

border-radius:20px;

margin-top:20px;

}

audio{

width:100%;

margin-top:20px;

}

h1{

margin-bottom:20px;

}

body{

font-family:Arial;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:

linear-gradient(
-45deg,
#0f0c29,
#302b63,
#24243e,
#1a1a40,
#6a11cb,
#2575fc
);

background-size:500% 500%;

animation:bg 12s ease infinite;

}

@keyframes bg{

0%{

background-position:0% 50%;

}

50%{

background-position:100% 50%;

}

100%{

background-position:0% 50%;

}

}

body::before{

content:"";

position:absolute;

width:500px;

height:500px;

background:

#ff00cc;

filter:

blur(220px);

top:-150px;

left:-150px;

opacity:.35;

}

body::after{

content:"";

position:absolute;

width:450px;

height:450px;

background:

#00dbde;

filter:

blur(220px);

bottom:-100px;

right:-100px;

opacity:.35;

}

.box{

position:relative;

z-index:5;

width:760px;

padding:35px;

border-radius:30px;

background:rgba(255, 255, 255, 0.08);

margin:auto;

margin-top:50px;

border-radius:20px;

}

input{

padding:10px;

width:70%;

}

button{

padding:10px;

cursor:pointer;

}

.card{

margin-top:20px;

}

img{

width:200px;

margin-top:10px;

border-radius:10px;

}

audio{

width:100%;

margin-top:10px;

}